/* Kontak */
#kontak {
    margin-top: 30px;
    background-size: cover;
    background-color: #f3f3f3;
    background-repeat: no-repeat;
}

#kontak .container {
    padding: 40px 0;
}

#kontak h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: var(--pr-color);
    width: 441px;
}

#kontak h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #2d2d2d;
    margin: 19px 0 14px 0;
}

#kontak img {
    background-color: var(--pr-color);
    border-radius: 20%;
}

.kontak a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    margin-left: 10px;
    width: 332px;
    display: inline-block;
}

.kontak a:hover {
    color: var(--pr-color);
}

#kontak h1 {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--pr-color);
    text-decoration: none;
}

.card-contact {
    width: 100%;
    height: 445px;
    background: #fff;
    border-radius: 5px;
    padding: 52px 48px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
}

.card-contact h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #00985b;
    text-align: center;
    margin-bottom: 21px;
}

.card-contact .form-control {
    background-color: #f3f3f3;
    height: 75px;
}

.form-floating label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #717171;
}

.button-kontak {
    width: 100%;
    height: 75px;
    background: #00985b;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.button-kontak:hover {
    transform: scale(1.1);
    transition: all .2s ease-in;
}

#g-maps .container {
    display: flex;
}

#g-maps h1 {
    text-align: center;
    margin-top: 30px;
}

#g-maps iframe {
    width: 95%;
    margin: 30px;
}