@media screen and (max-width : 992px) {
    #kontak h3 {
        font-size: 30px;
        width: 100%;
    }

    .card-contact {
        width: 100%;
        height: auto;
        padding: 52px 48px;
        margin-top: 42px;
    }

    .card-contact h2 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 21px;
    }

    .button-secondary {
        display: block;
        width: 100%;
    }

}

@media screen and (max-width : 576px) {
    .hero-tagline h1 {
        line-height: 52px;
    }

    .img-hero {
        width: 75%;
        height: auto;
    }

    h2 {
        font-size: 32px;
    }

    .sub-title {
        font-size: 16px;
    }

    .card-layanan {
        margin: 15px 0;
    }
}

@media screen and (max-width: 360px) {
    /* navbar */
    .bg-navbar-collapse {
        background-color: #fff;
        margin-top: 20px;
        width: 100%;
        height: 300px;
    }

    .nav-link {
        font-size: 16px;
    }
    
    .nav-link.active {
        font-weight: 700;
    }

    .link-kontak {
        width: 133px;
        height: 40px;
    }
    
    .link-kontak a {
        color: #fff;
    }

    .accent-img {
        display: none;
    }

    /* hero */
    #hero {
        height: 120vh;
        width: 100%;
        padding-left: 15px;
    }
    
    .hero-tagline h1 {
        font-size: 30px;
    }

    .hero-tagline p {
        font-size: 14px;
    }

    .img-hero {
        width: 90%;
        height: 30%;
        margin-right: 15px;
        margin-bottom: 15%;
    }

    .button-lg-primary-hero {
        width: 160px;
        height: 50px;
        font-size: 14px;
        line-height: 30px;
        margin-top: 60%;
    }

    /* logo */
    #logo {
        height: 50vh;
        width: 100%;
        margin-top: 0;
        padding-left: 15px;
    }

    #logo h4 {
        font-size: 18px;
    }

    #logo img{
        margin: auto;
    }
    
    /* tentang */
    #tentang {
        width: 100%;
        height: 5%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 10px;
    }

    #tentang .img-tentang {
        width: 87%;
        height: 47%;
        margin-left: 20px;
    }
    
    .tentang-tagline h1 {
        color: var(--pr-color);
        font-size: 30px;
        margin-right: 30px;
        margin-top: 320px;
        line-height: 52px;
    }

    .tentang-tagline p {
        font-size: 14px;
        margin-left: 5px;
        width: 95%;
    }

    .button-lg-primary-tentang {
        width: 160px;
        height: 50px;
        font-size: 16px;
        line-height: 30px;
    }
    
    /* layanan */
    #layanan {
        padding-left: 15px;
        padding-right: 15px;
    }
    #layanan h2 {
        font-size: 32px;
    }
    
    #layanan span {
        width: 100%;
    }
    
    #layanan .paragraf {
        font-size: 16px;
        padding: 10px;
    }
    
    
    .card-layanan {
        width: 90%;
        height: 450px;
        border-radius: 5px;
        background: #fff;
        padding: 30px;
        margin-left: 20px;
        box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
        transition: all .2s ease-in;
        overflow: hidden;
    }
    
    .circle-icon {
        width: 100px;
        height: 100px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.05);
        transition: all .1s ease-in;
    }
    
    .card-layanan h3 {
        color: var(--pr-color);
        font-size: 18px;
        transition: all .2s ease-in;
    }
    
    .card-layanan p {
        color: #000;
        font-size: 14px;
        transition: all .3s ease-in;
    }

    /* penawaran */
    #penawaran {
        height: 1000px;
        width: 350px;
        padding: 0 20px;
        padding-left: 25px;
    }

    #penawaran .container {
        padding-top: 0;
        margin-top: 0;
    }
    
    .penawaran-tagline h1 {
        font-weight: 600;
        font-size: 30px;
        line-height: 42px;
    }
    
    .penawaran-tagline p {
        font-size: 14px;
        color: #000;
        margin-bottom: 60px;
        margin-top: 20px;
        line-height: 30px;
        width: 95%;
    }

    .button-lg-primary-penawaran {
        width: 160px;
        height: 50px;
        font-size: 16px;
        line-height: 30px;
    }
    
    #penawaran .img-penawaran {
        width: 87%;
        height: 47%;
        margin-right: 20px;
    }

    /* tim */
    #tim {
        background-color: #f3f3f3;
    }
    
    #tim .container {
        padding: 120px 0;
    }
    
    .card {
        height: 460px;
        width: 100%;
        margin-left: 15px;
        margin-right: 10px;
    }
    
    .card-body h4 {
        color: #000;
        font-weight: 600;
        font-size: 24px;
        line-height: .8rem;
    }
    
    .card-body p {
        color: #141414;
        font-weight: 400;
        font-size: 16px;
    }
    
    .card:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
        transition: all ease-in-out .3s;
    }
    
    .card:hover .card-body h4 {
        transition: all ease-in-out .3s;
    }
    
    .card:hover .card-body p {
        transition: all ease-in-out .3s;
    }

    /* blog */
    #blog {
        height: 1500px;
        padding: 100px 0;
        margin-bottom: 100px;
    }
    
    h2 {
        font-size: 48px;
        font-weight: 500;
        color: var(--pr-color);
    }
    
    .card-blog {
        width: 100%;
        height: 600px;
        padding: 30px;
        border-radius: 5px;
        margin-bottom: 30px;
        box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
        transition: all .2s ease-in;
        overflow: hidden;
    }
    
    .card-blog img {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        padding: 30px;
        transition: all .2s ease-in;
        overflow: hidden;
    }
    
    .card-blog h3 {
        color: var(--pr-color);
        font-size: 18px;
        margin-top: 50%;
        padding-top: 50%;
        transition: all .2s ease-in;
    }
    
    .card-blog p {
        color: #000;
        font-size: 14px;
        margin-top: 30px;
        transition: all .3s ease-in;
    }

    /* kontak */
    #kontak {
        width: 100%;
        height: 1100px;
        margin-top: 30px;
    }
    
    #kontak h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 40px;
        color: var(--pr-color);
        width: 330px;
    }
    
    #kontak h6 {
        font-weight: 600;
        font-size: 14px;
        line-height: 27px;
        margin: 19px 0 14px 0;
    }

    .kontak a {
        font-size: 14px;
        line-height: 18px;
        margin-left: 10px;
    }

    .card-contact {
        width: 100%;
        height: 445px;
    }
    
    .card-contact h2 {
        height: 100%;
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
    }
    
    .card-contact .form-control {
        height: 55px;
    }
    
    .form-floating label {
        font-size: 14px;
        line-height: 18px;
        color: #717171;
    }
    
    .button-kontak {
        width: 100%;
        height: 55px;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
    }
    
    .button-kontak:hover {
        transform: scale(1.1);
        transition: all .2s ease-in;
    }

    /* maps */
    #g-maps .container {
        width: 100px;
        display: flex;
    }
    
    #g-maps h1 {
        text-align: center;
        margin-top: 30px;
    }
    
    #g-maps iframe {
        width: 295px;
        margin: 10px;
    }
    
    /* footer */
    footer {
        width: 100%;
        height: 300px;
        background: #f3f3f3;
    }
    
    footer a {
        font-size: 14px;
        margin: 5px;
        line-height: 30px;
        text-decoration: none;
    }
    
    .copyright {
        font-size: 14px;
        margin-top: 10px;
    }
}