@media screen and (max-width : 992px) {
    #kontak h3 {
        font-size: 30px;
        width: 100%;
    }

    .card-contact {
        width: 100%;
        height: auto;
        padding: 52px 48px;
        margin-top: 42px;
    }

    .card-contact h2 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 21px;
    }

    .button-secondary {
        display: block;
        width: 100%;
    }

}

@media screen and (max-width : 576px) {
    .hero-tagline h1 {
        line-height: 52px;
    }

    .img-hero {
        width: 75%;
        height: auto;
    }

    h2 {
        font-size: 34px;
    }

    .sub-title {
        font-size: 16px;
    }

    .card-layanan {
        margin: 15px 0;
    }
}

@media screen and (max-width : 360px) {
    .accent-img {
        display: none;
    }

    #hero {
        height: 120vh;
        width: 100%;
    }

    .hero-tagline {
        margin-bottom: 12px;
        margin-right: 15px;
    }
    
    .hero-tagline h1 {
        font-size: 30px;
        width: 90%;
        margin-right: 15px;
    }

    .hero-tagline p {
        font-size: 16px;
        width: 90%;
    }

    .img-hero {
        width: 90%;
        height: 30%;
        margin-right: 15px;
        margin-bottom: 15%;
    }

    .button-lg-primary {
        width: 180px;
        height: 70px;
        font-size: 14px;
        line-height: 30px;
        margin-top: 60%;
    }

    #logo {
        height: 50vh;
        width: 100%;
        margin-top: 10px;
    }

    #logo h4 {
        font-size: 18px;
    }
    
    #logo .containr {
        display: flex;
    }
    
    #tentang {
        margin-bottom: 150px;
        width: 95%;
    }

    #tentang .img-tentang {
        width: 87%;
        height: 47%;
        margin-left: 20px;
        z-index: 1;
    }
    
    .tentang-tagline h1 {
        color: var(--pr-color);
        font-weight: 600;
        font-size: 24px;
        margin-right: 15px;
        margin-top: 320px;
        line-height: 52px;
    }

    .tentang-tagline p {
        font-size: 14px;
    }

    #layanan .container {
        top: 0;
    }
}